<%@projects.each_with_index do |project,index|%>
<tbody class = 'border-bottom'>

  <tr>
    <td><%= index+1%></td>
    <td><%= project.projectname%></td>
    <td><%= project.project_description%></td>
  </tr>
<tbody>
<% end %>
