<%= render :partial => 'welcome/shared/topnavbar'%>
<%= render :partial => 'welcome/shared/flash_message'%>
<% if @users.any? %>
  <%@users.each_with_index do |user, index|%>
    <%@project = Project.find_by(projectname: "#{ user.projectname }")%>
    <table class="table table-light table-striped table-hover mt-2" id = 'manager_project_list'>
      <caption>List of projects assign to developer</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project Name</th>
          <th scope="col" >Description</th>
          <th scope="col" colspan = '2'></th>
        </tr>
      </thead>
    <tbody>
      <%@users.each_with_index do |user, index|%>
        <%@project = Project.find_by(:projectname => user.projectname)%>
        <%= render partial: 'projects/shared/developer_projects',:locals => {:@project => @project ,:user => user, :index => index+1}%>
      <% end %>
    </tbody>
  </table>
<% end %>

<%else%>
  <%= render :partial => 'welcome/shared/error_messages'%>
<% end %>
