<%= render :partial => 'welcome/shared/topnavbar'%>
<%= render :partial => 'welcome/shared/flash_message'%>

<% if @users.any? %>
  <table class="table table-striped table-hover mt-2" id = 'manager_project_list'>
      <caption>List of projects</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project Name</th>
          <th scope="col" >Description</th>
          <th scope="col" colspan = '2'></th>
        </tr>
      </thead>
    <tbody>
      <%@users.each_with_index do |user, index|%>
        <%@project = Project.find_by(:projectname => user.projectname)%>
        <%= render partial: 'projects/shared/manager_project_views',:locals => {:@project => @project ,:user => user, :index => index+1}%>
      <% end %>
    </tbody>
  </table>
<%else%>
  <%= render :partial => 'welcome/shared/error_messages'%>
<% end %>
